/* ________ DESIGN BY KIBRANDS ________ */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*********************************
1. Root
*********************************/

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


/*********************************
2. Scrollbar
*********************************/

body::-webkit-scrollbar {
    width: 0.70rem;
}

body::-webkit-scrollbar-track {
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color: #636363;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #383838;
}


/*********************************
3. Main Container
*********************************/

.main-container {
    margin-top: 5rem;
    padding: 0 !important;
}


/*********************************
4. Profile Icon & Border
*********************************/

.profile-icon {
    position: relative;
    display: block;
}

.icon-border {
    width: 160px;
    left: -15px;
    top: -30px;
    position: absolute;
}

.icon-container {
    width: 200px;
}

.summoner-level {
    color: #F5871F;
    margin-left: 42px;
    margin-top: -12px;
    font-size: 0.8rem;
    position: absolute;
    font-weight: bold;
}


/*********************************
5. Pace
*********************************/

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #800000;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #800000, 0 0 5px #800000;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #800000;
    border-left-color: #800000;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}


/*********************************
6. Footer
*********************************/

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    background: rgba(191,13,0,1);
    background: -moz-linear-gradient(top, rgba(191,13,0,1) 0%, rgba(66,1,1,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(191,13,0,1)), color-stop(100%, rgba(66,1,1,1)));
    background: -webkit-linear-gradient(top, rgba(191,13,0,1) 0%, rgba(66,1,1,1) 100%);
    background: -o-linear-gradient(top, rgba(191,13,0,1) 0%, rgba(66,1,1,1) 100%);
    background: -ms-linear-gradient(top, rgba(191,13,0,1) 0%, rgba(66,1,1,1) 100%);
    background: linear-gradient(to bottom, rgba(191,13,0,1) 0%, rgba(66,1,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0d00', endColorstr='#420101', GradientType=0 );
}

footer div a {
    color: white;
    font-size: 1.5rem;
}

footer div a:hover {
    color: #939393;
    text-decoration: none;
}

.footer, .push {
    height: 60px;
}


/*********************************
7. Custom Button
*********************************/

.link_wrapper{
    position: relative;
    width: 190px;
    margin: 0 auto;
}

@media all and (max-width:321px) {
    .link_wrapper {
        margin-left: -40%;
    }
}

@media all and (min-width: 321px) and (max-width:376px) {
    .link_wrapper {
        margin-left: -20%;
    }
}

@media all and (min-width: 376px) and (max-width:426px) {
    .link_wrapper {
        margin-left: -8%;
    }
}

.search-button{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
}

.icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg{
    width: 30px !important;
    position: absolute;
    top: calc(65% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: rgba(191,13,0,1);
    transition: all .35s;
}

.search-button:hover{
    width: 200px;
    border: 3px solid rgba(191,13,0,1);
    background: transparent;
    color: rgba(191,13,0,1);
}

.search-button:hover + .icon{
    border: 3px solid rgba(191,13,0,1);
    right: -25%;
}


/*********************************
8. Ranking
*********************************/

.leader-card {
    width: 50%;
    margin: auto;
}

.secondary-card {
    width: 100%;
}

.leader-icon {
    color: #F5871F;
    transform: rotate(-90deg);
}

.leader-band {
    margin-top: 10px;
    margin-left: -20px;
    padding: 5px;
    width: 100px;
    text-align: left;
    transform: rotate(90deg);
    font-weight: bold;
    border-radius: .25rem;
    position: absolute;
}

.secondary-band {
    margin-top: -5px;
    margin-left: -7px;
    padding: 5px;
    width: 75px;
    text-align: left;
    transform: rotate(90deg);
    font-weight: bold;
    border-radius: .25rem;
    position: absolute;
}

.leader-band span,
.secondary-band span {
    color: white;
}

@media (max-width:769px) {
    .leader-card {
        width: 100%;
    }
}


/*********************************
8. Popover (Bootstrap & Popper JS)
*********************************/

.popover, .popover-header, .popover-body {
    background: #383838;
    color: white;
}

.arrow:after {
    border-top-color: #383838 !important;
    border-bottom-color: #383838 !important;
}


/*********************************
9. TFT Ranking
*********************************/

.tft-leader {
    border-radius: 0 !important;
}

.tft-ranking-card {
    height: 300px;
    margin-top: -360px;
    z-index: -1;
    padding-top: 20% !important;
    border-radius: 0 !important;
}

@media (max-width:992px) {
    .tft-ranking-card {
        height: 250px;
        margin-top: -300px;
    }
}

@media (max-width:769px) {
    .tft-ranking-card {
        height: 250px;
        margin-top: 10px;
    }
}

.tft-ranking-card:hover {
    z-index: 1;
}