/* ________ DESIGN BY KIBRANDS ________ */

body {
    font-family: sans-serif;
    background: #2E2E2E url("../img/background.png") center no-repeat;
    background-position-y: 15%;
}

@media only screen and (max-width: 320px) {
    body {
        background-color: #2E2E2E;
        background-image: none;
    }
}

a {
    color: white;
    text-decoration: none;
}


/* MENU */

#icon {
    top: 5px;
    left: 15px;
    display: inline-block;
    text-align: left;
    float: left;
    position: relative;
}

.menu {
    background: none repeat scroll 0 0 #6e6e6e;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    text-align: right;
}

.menu h2 {
    font-size: 1.3em;
    float: left;
    color: white;
    font-family: sans-serif;
}

.container {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    height: 100%;
    width: 8%;
    overflow: hidden;
    float: right;
}

.selected {
    background-color: #a00;
    text-align: center;
}

.container a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    display: block;
    font-size: 14px;
}

.container:hover {
    background-color: #a00;
}


/* MAINFRAME */

.mainframe {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    opacity: 0.8;
}


/* FOOTER */

.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer {
    background: none repeat scroll 0 0 transparent;
    height: 30px;
    width: 80%;
    color: white;
    float: left;
    text-align: center;
}

.icons {
    width: 10%;
    border-radius: 50%;
    float: right;
    margin: auto;
    position: relative;
    display: inline-block;
    text-align: right;
    padding: 5px 5px;
}


/* CONTENT */

.content {
    width: 80%;
    width: 80%;
    margin: 6% auto;
    padding: 5px;
    background-color: #1f1f1f;
    border: solid 3px #6e6e6e;
    color: white;
}

.content form table {
    margin: auto;
    color: white;
    padding: 5px;
}

.content2 {
    width: 85%;
    margin: 6% auto;
    padding: 5px;
    color: white;
}

#izq {
    text-align: right;
}

#der {
    text-align: left;
}

.summonerData {
    width: 20%;
    opacity: 1;
    margin: 0 auto;
    text-align: center;
    display: block;
    font-weight: bold;
    float: left;
    background-color: #1f1f1f;
    border: solid 3px #6e6e6e;
    padding: 6px;
}

#profileIcon {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin-top: -23px;
    margin-left: 20.5px;
}

#levelBorder {
    position: absolute;
    top: -50px;
    left: -20px;
    width: 170px;
    vertical-align: middle;
}

#profileIconContainer {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    left: 1px;
    width: 107px;
}

#level {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -17px;
    margin-left: -10px;
    width: 44px;
    height: 24px;
    padding-top: 3px;
    background-size: 100%;
    line-height: 17px;
    font-family: Helvetica, AppleSDGothic, "Apple SD Gothic Neo", AppleGothic, Arial, Tahoma;
    font-size: 14px;
    text-align: center;
    color: #eabd56;
}

#champIcon {
    border-radius: 25%;
    border: 2px solid black;
}

.matchesData {
    right: 0;
    width: 70%;
    opacity: 1;
    margin: 0 auto;
    padding: 3%;
    display: block;
    font-weight: bold;
    float: right;
    background-color: #1f1f1f;
    border: solid 3px #6e6e6e;
}

.match {
    width: 100%;
    height: 80px;
    background: #2E2E2E;
    border: 2px dashed grey;
    margin: 0 auto;
    text-align: left;
}


/* BUTTON */

.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.red {
    background-color: #a00;
    color: white;
}


/* TABLES */

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody+tbody {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary>th,
.table-primary>td {
    background-color: #b8daff;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody+tbody {
    border-color: #7abaff;
}

.table-hover .table-primary:hover {
    background-color: #9fcdff;
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: #9fcdff;
}

.table-secondary,
.table-secondary>th,
.table-secondary>td {
    background-color: #d6d8db;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody+tbody {
    border-color: #b3b7bb;
}

.table-hover .table-secondary:hover {
    background-color: #c8cbcf;
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
    background-color: #c8cbcf;
}

.table-success,
.table-success>th,
.table-success>td {
    background-color: #c3e6cb;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody+tbody {
    border-color: #8fd19e;
}

.table-hover .table-success:hover {
    background-color: #b1dfbb;
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
    background-color: #b1dfbb;
}

.table-info,
.table-info>th,
.table-info>td {
    background-color: #bee5eb;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody+tbody {
    border-color: #86cfda;
}

.table-hover .table-info:hover {
    background-color: #abdde5;
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
    background-color: #abdde5;
}

.table-warning,
.table-warning>th,
.table-warning>td {
    background-color: #ffeeba;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody+tbody {
    border-color: #ffdf7e;
}

.table-hover .table-warning:hover {
    background-color: #ffe8a1;
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
    background-color: #ffe8a1;
}

.table-danger,
.table-danger>th,
.table-danger>td {
    background-color: #f5c6cb;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody+tbody {
    border-color: #ed969e;
}

.table-hover .table-danger:hover {
    background-color: #f1b0b7;
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
    background-color: #f1b0b7;
}

.table-light,
.table-light>th,
.table-light>td {
    background-color: #fdfdfe;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody+tbody {
    border-color: #fbfcfc;
}

.table-hover .table-light:hover {
    background-color: #ececf6;
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
    background-color: #ececf6;
}

.table-dark,
.table-dark>th,
.table-dark>td {
    background-color: #c6c8ca;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody+tbody {
    border-color: #95999c;
}

.table-hover .table-dark:hover {
    background-color: #b9bbbe;
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
    background-color: #b9bbbe;
}

.table-active,
.table-active>th,
.table-active>td {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
    background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.table-dark {
    color: #fff;
    background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #454d55;
}

.table-dark.table-bordered {
    border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
}

@media ( max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-sm>.table-bordered {
        border: 0;
    }
}

@media ( max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-md>.table-bordered {
        border: 0;
    }
}

@media ( max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-lg>.table-bordered {
        border: 0;
    }
}

@media ( max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-xl>.table-bordered {
        border: 0;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive>.table-bordered {
    border: 0;
}


/**/

.border-radius-25 {
    border-radius: 25%;
    width: 40px;
}