{# footer.html.twig #}
<div class="container">
    <div class="row mt-2 footer-row">
        <div class="col-4"></div>
        <div class="col-4 text-center" style="color: white; line-height: 1.1rem;">
            Legends GG {{ "now"|date('Y') }} &copy;
        </div>
        <div class="col-4 text-right">
            <a href="https://twitter.com/LegendsGG_">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="https://www.facebook.com/Legends-GG-100246304984068">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://instagram.com/legendsgg_">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</div>
