{# summoner.html.twig #}
{% extends "base.html.twig" %}
{% block title %}{{ parent() }}{{ summoner.name }}{% endblock %}
{% block body %}
<div class="container main-container">
    <h4 class="text-center">{{ summoner.name }} - Nivel: {{ summoner.summonerLevel }}</h4>
</div>
{% endblock %}