{# tier.html.twig #}
{% extends "base.html.twig" %}
{% block title %}{{ parent() }}Tier{% endblock %}
{% block body %}
    <div class="container-fluid main-container">
        <div class="px-5">
            <div class="row">
                <div class="col-12 col-md-8 text-center">
                    MAIN
                </div>
                <div class="col-12 col-md-4 text-center">
                    TIER LIST
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
{% endblock %}