{# subscription/subscription.html.twig #}
{% extends "base.html.twig" %}
{% block title %}{{ parent() }}Suscripción{% endblock %}
{% block body %}
    <div class="container main-container text-center">
        <h2>Te hemos enviado un correo de confirmación...</h2>
    </div>
{% endblock %}